 <div class="container bg-light border border-black mt-5 p-3">
  <h1 class="text-center mt-5 text-danger">Welcome to the Pokémon App</h1>
  <p class="text-center mt-3">Explore the world of Pokémon! Use the navigation to browse through different Pokémon.</p>
  <div class="text-center mt-5">
    <%= link_to 'View Pokémon List', pokemons_path, class: 'btn btn-warning' %>
  </div>
</div>
